@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<link href="~/TAApplication.styles.css" rel="stylesheet">
@using Microsoft.AspNetCore.Identity
@using TAApplication.Areas.Data
@inject SignInManager<TAUser> SignInManager
@inject UserManager<TAUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
@{
    var users = UserManager.Users.OrderBy(o => o.Name)
        .ToArray();
}
<div>
    <h>Change User Role</h>
</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <!--Assignment3 work-->
                <th>Name</th>
                <th>Unid</th>
                <th>Admin</th>
                <th>Professor</th>
                <th>Applicant</th>
            </tr>
        </thead>
        <tbody>
            @for(var index = 0; index < users.Length; index++){
            <tr>
            <td>@users[index].Name</td>
            <td>@users[index].Unid</td>
            <td>
                    <div class="check-status">
                        @if (await UserManager.IsInRoleAsync(users[index], "Admin"))
                        {<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" onclick="changeRole('@users[index].Id','Admin','remove')" checked>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" onclick="changeRole('@users[index].Id','Admin','add')" unchecked>
                        }
                </div>
            </td>
                <td>
                    <div class="check-status">
                        @if (await UserManager.IsInRoleAsync(users[index], "professor"))
                        {
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" onclick="changeRole('@users[index].Id','professor','remove')" checked>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" onclick="changeRole('@users[index].Id','professor','add')" unchecked>
                        }
                    </div>
                </td>
                <td>
                    <div class="check-status">
                        @if (await UserManager.IsInRoleAsync(users[index], "Applicant"))
                        {
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" onclick="changeRole('@users[index].Id','Applicant','remove')" checked>
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" onclick="changeRole('@users[index].Id','Applicant','add')" unchecked>
                        }
                    </div>
                </td>
        </tr>
            }
    </tbody>
    </table>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
<script src = "~/js/roles.js" asp-append-version = "true">
</script>