<!--
  Author:    Xia Li
  Partner:   Wenlin Li
<<<<<<< Updated upstream
  Date:      09/27/2022
=======
  Date:      10/17/2022
>>>>>>> Stashed changes
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Xia Li and Wenlin Li - This work may not be copied for use in Academic Coursework.

  I, Wenlin Li and Xia Li, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.


  This html file is the Home page that shows the detail.
-->

@model TAApplication.Models.Application

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pursuing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pursuing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GPA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GPA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numberOfHour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numberOfHour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.avaiableBefore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.avaiableBefore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SemestersCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SemestersCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalStatement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalStatement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransferSchool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransferSchool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkedinURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkedinURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.resumePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.resumePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.photoPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.photoPath)
        </dd>
    </dl>
</div>
<div><a href="/uploads/@Model.resumePath">Download PDF</a></div>
<div><img src="/uploads/@Model.photoPath" alt="professional photo"></div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a>
</div>
