@model IEnumerable<TAApplication.Models.Application>

@{
    ViewData["Title"] = "List";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pursuing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GPA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numberOfHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.avaiableBefore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SemestersCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalStatement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransferSchool)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkedinURL)
            </th>
            <th>
                Modified
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">@item.User.UserName</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pursuing)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GPA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numberOfHour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.avaiableBefore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SemestersCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonalStatement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransferSchool)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LinkedinURL)
                </td>
                <td>
                    @item.ModificationDate                  
                    @item.ModifiedBy
                </td>
            </tr>
        }
    </tbody>
</table>