@model TAApplication.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Semester)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semester)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.titleOftheCourse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.titleOftheCourse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Section)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Section)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.profID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.profID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.profName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.profName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeAndDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeAndDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.creditHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.creditHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enrollment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enrollment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.note)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
